[submodule "ZhihuDailyHD/ZhihuDailyHD/External/UMeng-Analytics"]
	path = ZhihuDailyHD/ZhihuDailyHD/External/UMeng-Analytics
	url = https://github.com/jcccn/UMeng-Analytics-iOS.git
[submodule "ZhihuDailyHD/ZhihuDailyHD/External/UMeng-Feedback"]
	path = ZhihuDailyHD/ZhihuDailyHD/External/UMeng-Feedback
	url = https://github.com/jcccn/UMeng-Feedback-iOS.git
[submodule "ZhihuDailyHD/ZhihuDailyHD/External/ShareSDK"]
	path = ZhihuDailyHD/ZhihuDailyHD/External/ShareSDK
	url = https://github.com/jcccn/ShareSDK-iOS.git
[submodule "ZhihuDailyHD/ZhihuDailyHD/External/Emoji"]
	path = ZhihuDailyHD/ZhihuDailyHD/External/Emoji
	url = https://github.com/limejelly/Emoji.git
